{% load activeurl %}
{% activeurl %}
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a>
          My Bookings
        </a>
      </h4>
    </div>
    <div id="myBookings">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{% url 'thoth-public-make' %}">Make a new booking</a></li>
          <li><a href="{% url 'thoth-public-view' %}">My bookings</a></li>
        </ul>
      </div>
    </div>
  </div>
{% if thoth_admin %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a>
          Administration
        </a>
      </h4>
    </div>
    <div id="bookingAdmin">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{% url 'thoth-admin-list' %}">All bookings</a></li>
          <li><a href="{% url 'thoth-admin-pending' %}">Bookings pending your approval</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endactiveurl %}
